/* Body */
body {
    margin: 0px;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #000000;
} 

/* Typography */

header h1 {
    padding-top: 30px;
    font-size: 50px;
    margin-bottom: 1em;
}

h2 {
    font-size: 30px;
}

/* Header */

header {
    margin: 0px;
    padding: 30px;
    background-image: url("/845364ecacaeaea44c5e3a8cd7159c5d52f26662.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    line-height: 10px;
    height: 200px;
    color: #FFFFFF;
}

/* Display none */
.displayNone {
    display: none;
}

/* Menu */

.menu {
    margin: 0px 40px;
}

.menuList {
    display: flex;
    align-items: center;
    border-bottom: solid #D2D2D2 1px;
    padding: 30px 0px;
    line-height: 0px;
}

#emoji {
    font-size: 104px;
    padding-right: 20px;
}

.subMenuItems {
    display: flex;
    flex-direction: column;
}

.itemName {
    font-size: 28px;
}

.itemDescription {
    font-size: 16px;
    color: #8B8B8B;
}

.itemPrice {
    font-size: 24px;
}

.addToOrderBtns {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #DEDEDE;
    background: none;
    color: #3C3C3C;
    margin-left: auto;
}

/* Order Summary */

.orderSummary {
    margin: 0px 40px 0px 40px;
}

.yourOrder {
    text-align: center;
    font-size: 28px;
    margin: 30px 0px 50px 0px;
}

.orderItemInner {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.orderItemName {
    font-size: 28px;
    padding-right: 5px;
}

.itemRemoveBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background: none;
    border: none;
    color: #BBBBBB;
}

.orderItemPrice {
    margin-left: auto;
    font-size: 20px;
}

.orderBtnDiv {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 40px 20px 40px;
}

.order-btn {
    background: #16DB99;
    border: none;
    border-radius: 1px;
    color: #FFFFFF;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}

.totalPriceSection {
    display: flex;
    border-top: solid #393333 2px;
    margin: 0px 40px 0px 40px;
}

.priceText{
    font-size: 28px;
    padding-top: 10px;
}

.totalPrice {
    margin-left: auto;
    font-size: 20px;
}

/* Payment Modal */

.payment-modal {
    display: none;
}

.paymentShow {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: bold;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    height: 460px;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border: none;
    box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
}

#payment-form {
    width: 100%;
}

#pay-btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 20px 20px 20px;
    background: #16DB99;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
}

#orderBoxes {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.orderBox {
    height: 50px;
    width: 90%;
    border: solid #757575 1px;
    border-radius: 2px;
    columns: #757575;
    padding-left: 20px;
    font-size: 20px;
}

.enterCardDetails {
    margin-bottom: 35px;
    font-size: 24px;
}

/* Thank you Modal */

.thank-you-modal {
    display: none;
}

.thankYouShow {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ECFDF5;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 2px;
    border: none;
    width: 500px;
    height: 100px;
    padding: 10px;
    text-align: center;
    color: #065F46;
    font-size: 32px;
}
