/* Body */
body {
    margin: 0px;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #000000;
} 

/* Typography */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

/* Header */

header {
    margin: 0px;
    padding: 50px;
    /* text-align: center; */
    background: purple;
    line-height: 10px;
}


/* Menu */

.menu {
    margin: 0px 40px;
}

.menuList {
    display: flex;
    align-items: center;
    border-bottom: solid #D2D2D2 1px;
    padding: 30px 0px;
    line-height: 0px;
}

#emoji {
    font-size: 104px;
    padding-right: 20px;
}

.subMenuItems {
    display: flex;
    flex-direction: column;
}

.itemName {
    font-size: 28px;
}

.itemDescription {
    font-size: 16px;
    color: #8B8B8B;
}

.itemPrice {
    font-size: 24px;
}

.addToOrderBtns {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #DEDEDE;
    background: none;
    color: #3C3C3C;
    margin-left: auto;
}

/* Order Summary */

#orderSummary {
    margin: 0px 40px 0px 40px;
}

.yourOrder {
    text-align: center;
    font-size: 28px;
    margin: 30px 0px 50px 0px;
}

.orderBtnDiv {
    padding-top: 10px;
}

.orderItemInner {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.orderItemName {
    font-size: 28px;
    padding-right: 5px;
}

.itemRemoveBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background: none;
    border: none;
    color: #BBBBBB;
}

.orderItemPrice {
    margin-left: auto;
    font-size: 20px;
}

.orderBtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 40px 0px 40px;
}

#order-btn {
    background: #16DB99;
    border: none;
    border-radius: 1px;
    color: #FFFFFF;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}

#totalPriceSection {
    display: flex;
    border-top: solid #393333 2px;
    margin: 0px 40px 0px 40px;
}

.priceText{
    font-size: 28px;
    padding-top: 10px;
}

.totalPrice {
    margin-left: auto;
    font-size: 20px;
}

/* Payment Modal */

#payment-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

#pay-btn {
    width: 50px;
}

/* Thank you Modal */

#thank-you-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.thankYouClass {
    display: flex;
}